# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Local deployment artifacts
*.zip

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# MLflow local tracking
mlruns/

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Build artifacts
dist/
build/
*.egg-info/